Project1.json
[{"id":"2ad92cb8.e2dc5c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4765000d.305d9","type":"tcp in","z":"2ad92cb8.e2dc5c","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":420,"wires":[["9dc8e040.141d8"]]},{"id":"819177fe.40d0a","type":"tcp in","z":"2ad92cb8.e2dc5c","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":480,"wires":[["26b76f08.8fd86"]]},{"id":"617a7f35.3fc318","type":"function","z":"2ad92cb8.e2dc5c","name":"ClearInput()","func":"if(msg.payload.search(\"d\")===-1){\n    return null;\n}\nmsg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nmsg.date = 0;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["d675ea79.828558","d2680743.83093"]]},{"id":"519f7e59.f755b8","type":"function","z":"2ad92cb8.e2dc5c","name":"CheckLastID()","func":"//Get the info the mote with a given ID. If no mote is present, set rec_ID to 0\nvar rec_ID=context.get(\"user_ID\" + msg.user + \"rec_ID\" + msg.payload) || 0;\n//Minutes of delay before send another notification\nvar delayBeforeNotification = 10;\n//If the mote is present, check its timestamp\nif (rec_ID !== 0) {\n    var deltaHours = parseInt(msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"T\") + 3)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+1,rec_ID.search(\",\")+3));\n    var deltaMin = deltaHours*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 4, msg.date.search(\"T\") + 6)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+4,rec_ID.search(\",\")+6));\n    var deltaSec = deltaMin*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 7, msg.date.search(\"T\") + 9)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+7,rec_ID.search(\",\")+9));\n       //If 10 minutes ore more has passed since last notification, update rec_ID and send a notification\n    if (deltaSec >= delayBeforeNotification*60) {\n        context.set(\"user_ID\" + msg.user + \"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n        return msg;\n    } else {\n        //if not enought time is passed\n        return null\n    }\n} else {\n    //If it's the first time this ID compares, set the timestamp and send a notification\n    context.set(\"user_ID\" + msg.user + \"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1160,"y":540,"wires":[["979ba931.d271d","fa3406e.987c7f8"]]},{"id":"d675ea79.828558","type":"change","z":"2ad92cb8.e2dc5c","name":"SetTime","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["519f7e59.f755b8"]]},{"id":"fca80961.07804","type":"http request","z":"2ad92cb8.e2dc5c","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/ccv2eGCQaqm-Fs7B0JkJ5F","tls":"","x":1980,"y":420,"wires":[["1262109e.25eaf7"]]},{"id":"979ba931.d271d","type":"function","z":"2ad92cb8.e2dc5c","name":"SetEvent()","func":"msg.event = \"Keep_your_distance!\";\nmsg.payload = {\"value1\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":540,"wires":[["fd5a9fb3.5e9ee8"]]},{"id":"f7c0a3e8.bd35c8","type":"http request","z":"2ad92cb8.e2dc5c","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/cgV0bOhljibXBHtIHofTsWPgA0ksP6vpeIyQZqn-BrT","tls":"","x":1980,"y":480,"wires":[["1262109e.25eaf7"]]},{"id":"8f9bf1df.a8d92","type":"tcp in","z":"2ad92cb8.e2dc5c","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":540,"wires":[["2abe1e59.a9420a"]]},{"id":"fe14ac7a.bbdc8","type":"http request","z":"2ad92cb8.e2dc5c","name":"Web Req","method":"POST","ret":"txt","url":"","tls":"","x":1980,"y":540,"wires":[["1262109e.25eaf7"]]},{"id":"530e8563.bc917c","type":"tcp in","z":"2ad92cb8.e2dc5c","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":600,"wires":[["a3273c16.573a5"]]},{"id":"a8e85723.56982","type":"http request","z":"2ad92cb8.e2dc5c","name":"Web Req","method":"POST","ret":"txt","url":"","tls":"","x":1980,"y":600,"wires":[["1262109e.25eaf7"]]},{"id":"8087842c.d7f938","type":"tcp in","z":"2ad92cb8.e2dc5c","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":660,"wires":[["872a70cb.4bc48"]]},{"id":"c3af7720.99cbf8","type":"http request","z":"2ad92cb8.e2dc5c","name":"Web Req","method":"POST","ret":"txt","url":"","tls":"","x":1980,"y":660,"wires":[["1262109e.25eaf7"]]},{"id":"9c9c540e.6951f","type":"function","z":"2ad92cb8.e2dc5c","name":"messageReceived","func":"var m = \"msgID: \" + msg._msgid + \", message received on port \" + msg.port + \" for user \" + msg.user + \".\";\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["31442d88.713eaa"]]},{"id":"d2680743.83093","type":"function","z":"2ad92cb8.e2dc5c","name":"messageCleared","func":"var m = \"msgID: \" + msg._msgid + \", message for user \" + msg.user + \" cleared:\";\nmsg.payload = m + \" user \" + msg.user + \" is too near from user \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[["31442d88.713eaa"]]},{"id":"9dc8e040.141d8","type":"function","z":"2ad92cb8.e2dc5c","name":"setPort()","func":"msg.port = 60001;\nmsg.user = 1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["9c9c540e.6951f","617a7f35.3fc318"]]},{"id":"26b76f08.8fd86","type":"function","z":"2ad92cb8.e2dc5c","name":"setPort()","func":"msg.port = 60002;\nmsg.user = 2;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["9c9c540e.6951f","617a7f35.3fc318"]]},{"id":"2abe1e59.a9420a","type":"function","z":"2ad92cb8.e2dc5c","name":"setPort()","func":"msg.port = 60003;\nmsg.user = 3;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["9c9c540e.6951f","617a7f35.3fc318"]]},{"id":"a3273c16.573a5","type":"function","z":"2ad92cb8.e2dc5c","name":"setPort()","func":"msg.port = 60004;\nmsg.user = 4;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["9c9c540e.6951f","617a7f35.3fc318"]]},{"id":"872a70cb.4bc48","type":"function","z":"2ad92cb8.e2dc5c","name":"setPort()","func":"msg.port = 60005;\nmsg.user = 5;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":660,"wires":[["9c9c540e.6951f","617a7f35.3fc318"]]},{"id":"3e8d6785.c8d788","type":"debug","z":"2ad92cb8.e2dc5c","name":"LOG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1410,"y":100,"wires":[]},{"id":"fa3406e.987c7f8","type":"function","z":"2ad92cb8.e2dc5c","name":"sendingNotification","func":"var m = \"msgID: \" + msg._msgid + \", sending notification to user \" + msg.user + \"...\";\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":280,"wires":[["31442d88.713eaa"]]},{"id":"1262109e.25eaf7","type":"function","z":"2ad92cb8.e2dc5c","name":"notificationSent","func":"var m = \" (msgID: \" + msg._msgid + \", notification sent to the user \" + msg.user + \")\";\nmsg.payload = msg.payload + m;\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":280,"wires":[["31442d88.713eaa"]]},{"id":"31442d88.713eaa","type":"file","z":"2ad92cb8.e2dc5c","name":"","filename":"log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1240,"y":100,"wires":[["3e8d6785.c8d788"]]},{"id":"fd5a9fb3.5e9ee8","type":"switch","z":"2ad92cb8.e2dc5c","name":"switchWebRequest","property":"user","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1590,"y":540,"wires":[["fca80961.07804"],["f7c0a3e8.bd35c8"],["fe14ac7a.bbdc8"],["a8e85723.56982"],["c3af7720.99cbf8"]]}]
