Project1.json
[{"id":"aecab007.884888","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8777e3bf.0f0838","type":"tcp in","z":"aecab007.884888","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":200,"wires":[["c9a6bc52.6cc408"]]},{"id":"baad2101.fd83e","type":"tcp in","z":"aecab007.884888","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":280,"wires":[["4e1ab931.f1d028"]]},{"id":"a98cc40.3af42c","type":"debug","z":"aecab007.884888","name":"MOTE1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":60,"wires":[]},{"id":"c5beb130.4a1d38","type":"debug","z":"aecab007.884888","name":"MOTE2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":140,"wires":[]},{"id":"4e1ab931.f1d028","type":"function","z":"aecab007.884888","name":"ClearInput()","func":"msg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nmsg.date = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["b0ad5e32.14feb"]]},{"id":"c9a6bc52.6cc408","type":"function","z":"aecab007.884888","name":"ClearInput()","func":"msg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nmsg.date = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["ee6e9859.9d11a8"]]},{"id":"d6ca2a48.053398","type":"function","z":"aecab007.884888","name":"CheckLastID2()","func":"//Get the info the mote with a given ID. If no mote is present, set rec_ID to 0\nvar rec_ID=context.get('rec_ID'+ msg.payload) || 0;\n//Minutes of delay before send another notification\nvar delayBeforeNotification = 10;\n//If the mote is present, check its timestamp\nif (rec_ID !== 0) {\n    var deltaHours = parseInt(msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"T\") + 3)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+1,rec_ID.search(\",\")+3));\n    var deltaMin = deltaHours*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 4, msg.date.search(\"T\") + 6)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+4,rec_ID.search(\",\")+6));\n    var deltaSec = deltaMin*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 7, msg.date.search(\"T\") + 9)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+7,rec_ID.search(\",\")+9));\n       //If 10 minutes ore more has passed since last notification, update rec_ID and send a notification\n    if (deltaSec >= delayBeforeNotification*60) {\n        context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n        return msg;\n    } else {\n        //if not enought time is passed\n        return null\n    }\n} else {\n    //If it's the first time this ID compares, set the timestamp and send a notification\n    context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n    return msg;\n}\n","outputs":1,"noerr":0,"x":820,"y":280,"wires":[["c5beb130.4a1d38","e3c8acae.c2ddd8"]]},{"id":"6a812772.c72e9","type":"function","z":"aecab007.884888","name":"CheckLastID1()","func":"//Get the info the mote with a given ID. If no mote is present, set rec_ID to 0\nvar rec_ID=context.get('rec_ID'+ msg.payload) || 0;\n//Minutes of delay before send another notification\nvar delayBeforeNotification = 10;\n//If the mote is present, check its timestamp\nif (rec_ID !== 0) {\n    var deltaHours = parseInt(msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"T\") + 3)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+1,rec_ID.search(\",\")+3));\n    var deltaMin = deltaHours*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 4, msg.date.search(\"T\") + 6)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+4,rec_ID.search(\",\")+6));\n    var deltaSec = deltaMin*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 7, msg.date.search(\"T\") + 9)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+7,rec_ID.search(\",\")+9));\n    //If 10 minutes ore more has passed since last notification, update rec_ID and send a notification\n    if (deltaSec >= delayBeforeNotification*60) {\n        context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n        return msg;\n    } else {\n        //if not enought time is passed\n        return null\n    }\n} else {\n    //If it's the first time this ID compares, set the timestamp and send a notification\n    context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n    return msg;\n}\n","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["a98cc40.3af42c","c623023c.6dfeb8"]]},{"id":"ee6e9859.9d11a8","type":"change","z":"aecab007.884888","name":"SetTimeMote1","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["6a812772.c72e9"]]},{"id":"b0ad5e32.14feb","type":"change","z":"aecab007.884888","name":"SetTimeMote2","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[["d6ca2a48.053398"]]},{"id":"41defe68.d8b9a8","type":"http request","z":"aecab007.884888","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/ccv2eGCQaqm-Fs7B0JkJ5F","tls":"","x":1240,"y":200,"wires":[[]]},{"id":"c623023c.6dfeb8","type":"function","z":"aecab007.884888","name":"SetEvent()","func":"msg.event = \"Keep_your_distance!\";\nmsg.payload = {\"value1\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":220,"wires":[["41defe68.d8b9a8"]]},{"id":"e3c8acae.c2ddd8","type":"function","z":"aecab007.884888","name":"SetEvent()","func":"msg.event = \"Keep_your_distance!\";\nmsg.payload = {\"value1\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[["c8be9106.83662"]]},{"id":"c8be9106.83662","type":"http request","z":"aecab007.884888","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/cgV0bOhljibXBHtIHofTsWPgA0ksP6vpeIyQZqn-BrT","tls":"","x":1240,"y":280,"wires":[[]]},{"id":"a0fad736.2dac4","type":"tcp in","z":"aecab007.884888","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":340,"wires":[["6d251ed1.c523d8"]]},{"id":"3178d841.c7deb8","type":"debug","z":"aecab007.884888","name":"MOTE3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1300,"y":160,"wires":[]},{"id":"6d251ed1.c523d8","type":"function","z":"aecab007.884888","name":"ClearInput()","func":"msg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nmsg.date = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["c81325eb.b0d508"]]},{"id":"b55ce394.6ea03","type":"function","z":"aecab007.884888","name":"CheckLastID3()","func":"//Get the info the mote with a given ID. If no mote is present, set rec_ID to 0\nvar rec_ID=context.get('rec_ID'+ msg.payload) || 0;\n//Minutes of delay before send another notification\nvar delayBeforeNotification = 10;\n//If the mote is present, check its timestamp\nif (rec_ID !== 0) {\n    var deltaHours = parseInt(msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"T\") + 3)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+1,rec_ID.search(\",\")+3));\n    var deltaMin = deltaHours*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 4, msg.date.search(\"T\") + 6)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+4,rec_ID.search(\",\")+6));\n    var deltaSec = deltaMin*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 7, msg.date.search(\"T\") + 9)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+7,rec_ID.search(\",\")+9));\n       //If 10 minutes ore more has passed since last notification, update rec_ID and send a notification\n    if (deltaSec >= delayBeforeNotification*60) {\n        context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n        return msg;\n    } else {\n        //if not enought time is passed\n        return null\n    }\n} else {\n    //If it's the first time this ID compares, set the timestamp and send a notification\n    context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n    return msg;\n}\n","outputs":1,"noerr":0,"x":820,"y":340,"wires":[["3178d841.c7deb8","19747940.b8144f"]]},{"id":"c81325eb.b0d508","type":"change","z":"aecab007.884888","name":"SetTimeMote3","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":340,"wires":[["b55ce394.6ea03"]]},{"id":"19747940.b8144f","type":"function","z":"aecab007.884888","name":"SetEvent()","func":"msg.event = \"Keep_your_distance!\";\nmsg.payload = {\"value1\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":340,"wires":[["2abec8d5.58fed"]]},{"id":"2abec8d5.58fed","type":"http request","z":"aecab007.884888","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/YOUR_AP","tls":"","x":1240,"y":340,"wires":[[]]},{"id":"53ce1d86.dfe2f4","type":"tcp in","z":"aecab007.884888","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":400,"wires":[["b0089435.51b798"]]},{"id":"d6d1a458.3de8e","type":"debug","z":"aecab007.884888","name":"MOTE4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":540,"wires":[]},{"id":"b0089435.51b798","type":"function","z":"aecab007.884888","name":"ClearInput()","func":"msg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nmsg.date = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["d53cf2c.048481"]]},{"id":"dd3ed3bc.391118","type":"function","z":"aecab007.884888","name":"CheckLastID4()","func":"//Get the info the mote with a given ID. If no mote is present, set rec_ID to 0\nvar rec_ID=context.get('rec_ID'+ msg.payload) || 0;\n//Minutes of delay before send another notification\nvar delayBeforeNotification = 10;\n//If the mote is present, check its timestamp\nif (rec_ID !== 0) {\n    var deltaHours = parseInt(msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"T\") + 3)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+1,rec_ID.search(\",\")+3));\n    var deltaMin = deltaHours*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 4, msg.date.search(\"T\") + 6)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+4,rec_ID.search(\",\")+6));\n    var deltaSec = deltaMin*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 7, msg.date.search(\"T\") + 9)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+7,rec_ID.search(\",\")+9));\n       //If 10 minutes ore more has passed since last notification, update rec_ID and send a notification\n    if (deltaSec >= delayBeforeNotification*60) {\n        context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n        return msg;\n    } else {\n        //if not enought time is passed\n        return null\n    }\n} else {\n    //If it's the first time this ID compares, set the timestamp and send a notification\n    context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n    return msg;\n}\n","outputs":1,"noerr":0,"x":820,"y":400,"wires":[["d6d1a458.3de8e","29a1853d.53271a"]]},{"id":"d53cf2c.048481","type":"change","z":"aecab007.884888","name":"SetTimeMote4","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["dd3ed3bc.391118"]]},{"id":"29a1853d.53271a","type":"function","z":"aecab007.884888","name":"SetEvent()","func":"msg.event = \"Keep_your_distance!\";\nmsg.payload = {\"value1\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":400,"wires":[["b981dbc7.f4a6a"]]},{"id":"b981dbc7.f4a6a","type":"http request","z":"aecab007.884888","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/YOUR_AP","tls":"","x":1240,"y":400,"wires":[[]]},{"id":"e5e7f752.e3b478","type":"tcp in","z":"aecab007.884888","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":480,"wires":[["c21f41db.8500e"]]},{"id":"cf83ae81.888948","type":"debug","z":"aecab007.884888","name":"MOTE5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":620,"wires":[]},{"id":"c21f41db.8500e","type":"function","z":"aecab007.884888","name":"ClearInput()","func":"msg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nmsg.date = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["b5b7c79e.4967a"]]},{"id":"c5eb0c5d.ee00d8","type":"function","z":"aecab007.884888","name":"CheckLastID5()","func":"//Get the info the mote with a given ID. If no mote is present, set rec_ID to 0\nvar rec_ID=context.get('rec_ID'+ msg.payload) || 0;\n//Minutes of delay before send another notification\nvar delayBeforeNotification = 10;\n//If the mote is present, check its timestamp\nif (rec_ID !== 0) {\n    var deltaHours = parseInt(msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"T\") + 3)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+1,rec_ID.search(\",\")+3));\n    var deltaMin = deltaHours*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 4, msg.date.search(\"T\") + 6)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+4,rec_ID.search(\",\")+6));\n    var deltaSec = deltaMin*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 7, msg.date.search(\"T\") + 9)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+7,rec_ID.search(\",\")+9));\n       //If 10 minutes ore more has passed since last notification, update rec_ID and send a notification\n    if (deltaSec >= delayBeforeNotification*60) {\n        context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n        return msg;\n    } else {\n        //if not enought time is passed\n        return null\n    }\n} else {\n    //If it's the first time this ID compares, set the timestamp and send a notification\n    context.set(\"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n    return msg;\n}\n","outputs":1,"noerr":0,"x":820,"y":460,"wires":[["cf83ae81.888948","13e97314.0b9595"]]},{"id":"b5b7c79e.4967a","type":"change","z":"aecab007.884888","name":"SetTimeMote5","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[["c5eb0c5d.ee00d8"]]},{"id":"13e97314.0b9595","type":"function","z":"aecab007.884888","name":"SetEvent()","func":"msg.event = \"Keep_your_distance!\";\nmsg.payload = {\"value1\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":460,"wires":[["a3e7cfb2.fc93d8"]]},{"id":"a3e7cfb2.fc93d8","type":"http request","z":"aecab007.884888","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/YOUR_API","tls":"","x":1240,"y":480,"wires":[[]]}]