SourceCode/Node-RED/Project1.json
[{"id":"77dd9bfd.469cc4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1cfb5431.9f69bc","type":"tcp in","z":"77dd9bfd.469cc4","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":420,"wires":[["13c6233b.b7eddd"]]},{"id":"d1a7fff9.cfd8a8","type":"tcp in","z":"77dd9bfd.469cc4","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":480,"wires":[["a11d9f72.145a"]]},{"id":"f085b14d.c9cc8","type":"function","z":"77dd9bfd.469cc4","name":"ClearInput()","func":"if(msg.payload.search(\"d\")===-1){\n    //This search allows us to avoid malformed messagges\n    return null;\n}\n//Clearing the message \nmsg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nmsg.date = 0;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["af280bb.d385078","bf9b1604.bb97b"]]},{"id":"b85b8edc.37d508","type":"function","z":"77dd9bfd.469cc4","name":"CheckLastID()","func":"//Get the info the mote with a given ID. If no mote is present, set rec_ID to 0\nvar rec_ID=context.get(\"user_ID\" + msg.user + \"rec_ID\" + msg.payload) || 0;\n//Minutes of delay before send another notification\nvar delayBeforeNotification = 10;\n//If the mote is present, check its timestamp\nif (rec_ID !== 0) {\n    var deltaHours = parseInt(msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"T\") + 3)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+1,rec_ID.search(\",\")+3));\n    var deltaMin = deltaHours*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 4, msg.date.search(\"T\") + 6)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+4,rec_ID.search(\",\")+6));\n    var deltaSec = deltaMin*60 + parseInt(msg.date.substring(msg.date.search(\"T\") + 7, msg.date.search(\"T\") + 9)) - parseInt(rec_ID.substring(rec_ID.search(\",\")+7,rec_ID.search(\",\")+9));\n       //If 10 minutes ore more have passed since last notification, update rec_ID and send a notification\n    if (deltaSec >= delayBeforeNotification*60) {\n        context.set(\"user_ID\" + msg.user + \"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n        return msg;\n    } else {\n        //if not enought time is passed, set payload to -1.\n        msg.payload = -1;\n        return msg;\n    }\n} else {\n    //If it's the first time this ID compares, set the timestamp and send a notification\n    context.set(\"user_ID\" + msg.user + \"rec_ID\" + msg.payload, msg.payload + \",\" + msg.date.substring(msg.date.search(\"T\") + 1, msg.date.search(\"Z\")));\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1160,"y":540,"wires":[["2ad79e63.1667ba","f1fff949.5586a8"]]},{"id":"af280bb.d385078","type":"change","z":"77dd9bfd.469cc4","name":"SetTime","rules":[{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["b85b8edc.37d508"]]},{"id":"9e17ddf7.34a4c8","type":"http request","z":"77dd9bfd.469cc4","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/ccv2eGCQaqm-Fs7B0JkJ5F","tls":"","x":1980,"y":420,"wires":[["90421991.b20398"]]},{"id":"2ad79e63.1667ba","type":"function","z":"77dd9bfd.469cc4","name":"SetEvent()","func":"if (msg.payload != -1) {\n    msg.event = \"Keep_your_distance!\";\n    msg.payload = {\"value1\" : msg.payload};\n    return msg;\n}\nreturn null","outputs":1,"noerr":0,"x":1390,"y":540,"wires":[["b445ee1f.c37f08"]]},{"id":"5a09eaff.4f47fc","type":"http request","z":"77dd9bfd.469cc4","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Keep_your_distance!/with/key/cgV0bOhljibXBHtIHofTsWPgA0ksP6vpeIyQZqn-BrT","tls":"","x":1980,"y":480,"wires":[["90421991.b20398"]]},{"id":"16113e99.434751","type":"tcp in","z":"77dd9bfd.469cc4","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":540,"wires":[["d7496cd6.0aba7"]]},{"id":"6b95418.b5c5c4","type":"http request","z":"77dd9bfd.469cc4","name":"Web Req","method":"POST","ret":"txt","url":"","tls":"","x":1980,"y":540,"wires":[["90421991.b20398"]]},{"id":"7eb62fd2.7e8b08","type":"tcp in","z":"77dd9bfd.469cc4","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":600,"wires":[["8ca6b74.ca532c8"]]},{"id":"de62fe07.46e6e","type":"http request","z":"77dd9bfd.469cc4","name":"Web Req","method":"POST","ret":"txt","url":"","tls":"","x":1980,"y":600,"wires":[["90421991.b20398"]]},{"id":"3455a22b.11c1de","type":"tcp in","z":"77dd9bfd.469cc4","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":660,"wires":[["1c917871.6d85"]]},{"id":"587bd702.86f32","type":"http request","z":"77dd9bfd.469cc4","name":"Web Req","method":"POST","ret":"txt","url":"","tls":"","x":1980,"y":660,"wires":[["90421991.b20398"]]},{"id":"77ae2d2b.f7a054","type":"function","z":"77dd9bfd.469cc4","name":"messageReceived","func":"var m = \"msgID: \" + msg._msgid + \", Message received on port \" + msg.port + \" for user \" + msg.user + \".\";\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["df9d84ef.0fdf3"]]},{"id":"bf9b1604.bb97b","type":"function","z":"77dd9bfd.469cc4","name":"messageCleared","func":"var m = \"msgID: \" + msg._msgid + \", Message for user \" + msg.user + \" cleared:\";\nmsg.payload = m + \" user \" + msg.user + \" is too near from user \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[["df9d84ef.0fdf3"]]},{"id":"13c6233b.b7eddd","type":"function","z":"77dd9bfd.469cc4","name":"setPort()","func":"msg.port = 60001;\nmsg.user = 1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["77ae2d2b.f7a054","f085b14d.c9cc8"]]},{"id":"a11d9f72.145a","type":"function","z":"77dd9bfd.469cc4","name":"setPort()","func":"msg.port = 60002;\nmsg.user = 2;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["77ae2d2b.f7a054","f085b14d.c9cc8"]]},{"id":"d7496cd6.0aba7","type":"function","z":"77dd9bfd.469cc4","name":"setPort()","func":"msg.port = 60003;\nmsg.user = 3;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["77ae2d2b.f7a054","f085b14d.c9cc8"]]},{"id":"8ca6b74.ca532c8","type":"function","z":"77dd9bfd.469cc4","name":"setPort()","func":"msg.port = 60004;\nmsg.user = 4;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["77ae2d2b.f7a054","f085b14d.c9cc8"]]},{"id":"1c917871.6d85","type":"function","z":"77dd9bfd.469cc4","name":"setPort()","func":"msg.port = 60005;\nmsg.user = 5;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":660,"wires":[["77ae2d2b.f7a054","f085b14d.c9cc8"]]},{"id":"7cda1b3b.cb2874","type":"debug","z":"77dd9bfd.469cc4","name":"LOG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1410,"y":100,"wires":[]},{"id":"f1fff949.5586a8","type":"function","z":"77dd9bfd.469cc4","name":"sendingNotification","func":"if (msg.payload != -1) {\n    var m = \"msgID: \" + msg._msgid + \", Sending notification to user \" + msg.user + \"...\";\n   \n} else {\n    var m = \"msgID: \" + msg._msgid +\", Not enough time has passed since last notification.\"\n}\nmsg.payload = m;\nreturn msg;\n","outputs":1,"noerr":0,"x":1310,"y":280,"wires":[["df9d84ef.0fdf3"]]},{"id":"90421991.b20398","type":"function","z":"77dd9bfd.469cc4","name":"notificationSent","func":"var m = \" (msgID: \" + msg._msgid + \", Notification sent to the user \" + msg.user + \")\";\nmsg.payload = msg.payload + m;\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":280,"wires":[["df9d84ef.0fdf3"]]},{"id":"df9d84ef.0fdf3","type":"file","z":"77dd9bfd.469cc4","name":"","filename":"log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1240,"y":100,"wires":[["7cda1b3b.cb2874"]]},{"id":"b445ee1f.c37f08","type":"switch","z":"77dd9bfd.469cc4","name":"switchWebRequest","property":"user","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1610,"y":540,"wires":[["9e17ddf7.34a4c8"],["5a09eaff.4f47fc"],["6b95418.b5c5c4"],["de62fe07.46e6e"],["587bd702.86f32"]]}]